{% extends 'base.html' %}

{% block content %}

    <a class="card text-decoration-none text-dark" style="width: 18rem;" href ="{{ url_for('shop.getOneProduct', product_id=product.id) }}">
    <img src="{{ product.img_url }}" class="card-img-top" alt="{{ product.product_name }}">
    <div class="card-body">
        <h1 class="card-title">{{ product.product_name }}</h1>
        <p class="card-text">{{ product.description }}</p>
        <small>
        {{ product.price }}
        </small>
    </div>
    {% if current_user.is_authenticated %}
        
        <a class = "btn btn-danger" href ="{{ url_for('shop.removeFromCart', product_id = product.id) }}">Delete</a>
        <a class = "btn btn-primary" href ="{{ url_for('shop.addToCart', product_id = product.id) }}">Add To Cart</a>
    
    
    
    
    {% endif %}
    </a>


{% endblock %}